version: 2.1
jobs:
  build:
    docker:
      - image: circleci/node:14

    steps:
      - checkout
      - run: 
          name: download latest component
          command: npm i
      - run:
          name: Install Dependencies
          command: npm install

      - run:
          name: Run Tests
          command: npm test

      - run:
          name: Build
          command: npm run build

  deploy:
    docker:
      - image: circleci/node:14

    steps:
      - checkout

      - add_ssh_keys:
          fingerprints:
            - "your-ssh-key-fingerprint"

      - run:
          name: Deploy to EC2
          command: |
            scp -r ./build/* user@your-ec2-instance-ip:/path/to/destination
            ssh -i /path/to/your/private/key user@your-ec2-instance-ip 'cd /path/to/destination && npm install && npm start'

workflows:
  version: 2
  build_and_deploy:
    jobs:
      - build:
          filters:
            branches:
              only:
                - master
      - deploy:
          requires:
            - build
          filters:
            branches:
              only:
                - master
